.playlists{
 
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 8em;

    
   
}

.widget{
    margin-left: 2em;
    margin-top: 2em;
   

   


}