.container1{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: flex-end;
    height:80vh;
    
   
    
}

.subcontainer1{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-items: center;
   align-items: center;
   justify-content: space-between;
   width: 40%;
   border:2px solid;

   
   
  
}

.albumItem{
    flex-basis: 33%;
    
    
      
}

.albumItemImage{
    width:100%;
    height:20vh;
    
    
}

.userSearchForm{

    width:40%;
    padding:1em;
}