
.login{

    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    color: chartreuse;
}
.bg-image img{
    margin-top: 5px;
    
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
   }

.login-img img{

    position: absolute;
    top: 620px;
    left: 700px;
    width: 170px;
}
.lgn-text{
    color: white;
}